/**
 * Header search form.
 */
.site-search {

  label {
    position: relative;
    display: inline-block;
  }

  input {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 28px;
    vertical-align: middle;
    background-color: transparent;
    border-color: $brand-dark;
  }

  button {
    position: absolute;
    right: 0;
  }

  .icon {
    fill: $brand-light;
  }
}
