/**
 * Modal popup.
 */
.modal-overlay,
.mfp-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $black;
  opacity: 0.8;
}


.mfp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-backface-visibility: hidden;
}


.mfp-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }
}


.mfp-content {
  position: relative;
  z-index: 1005;
  display: inline-block;
  max-width: 90%;
  padding: 0;
  margin: 0 auto;
  vertical-align: middle;
}


.modal {
  padding: $layout-gutter 0;

  @include media-query(medium) {
    padding: ($layout-gutter * 2) $layout-gutter;
  }

  > .button {
    margin-right: 0;
  }
}


.modal-content {
  text-align: left;
  vertical-align: middle;
  background-color: $ui-dark;
  border-radius: $base-radius;

  @include media-query(medium) {
    max-width: 575px;
  }

  > :last-child { margin-bottom: 0; }

  .card {
    border: 0;
  }

  .reply-form {
    padding: ($base-line-height / 2) $base-line-height;
  }
}


.modal-title {
  margin-bottom: ($base-line-height / 2);
}




.mfp-hide {
  @extend %visually-hidden;
}




.mfp-close {
  @extend .button;

  position: absolute;
  top: -6px;
  right: 0;
  margin-right: 0;

  @include media-query(medium) {
    top: 12px;
    right: -8px;
  }

  > svg {
    pointer-events: none;
  }
}




.modal-open {

  .modal-overlay {
    z-index: 900;
    opacity: 0.8;
  }

  .site-header,
  .main,
  .site-footer {
    filter: blur(10px);
  }
}




.modal--with-media {

  .modal-content {
    max-width: 975px;
  }
}
