/**
 * Modal popup.
 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba($black, 0.8);
  -webkit-overflow-scrolling: touch;

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    z-index: 900;
    opacity: 1;
    visibility: visible;
  }
}


.modal-content {
  position: relative;
  display: inline-block;
  max-width: 90%;
  padding: 0 ($layout-gutter / 2);
  margin: auto;
  background-color: $ui-dark;
  border-radius: $base-radius;

  @include media-query(medium) {
    min-width: 575px;
  }

  > :last-child { margin-bottom: 0; }

  .card {
    border: 0;
  }

  .reply-form {
    padding: ($base-line-height / 2) $base-line-height;
  }

  .button--link {
    margin-right: ($layout-gutter / 2);
    color: $brand-dark;

    @include media-query(medium) {
      margin-right: $layout-gutter;
    }

    &:hover,
    &:focus,
    &:active {
      color: $green-dark;
    }
  }

  > .button {
    position: absolute;
    top: -27px;
    right: 0;
    margin-right: 0;

    @include media-query(medium) {
      right: -27px;
    }
  }
}


.modal-title {
  margin-bottom: ($base-line-height / 2);
}




.modal-open {

  .site-header,
  .main,
  .site-footer {
    filter: blur(10px);
  }
}




.modal--with-media {

  .modal-content {
    max-width: 975px;
    padding: 0;
    margin: 50px auto;

    > :last-child { margin-bottom: 50px; }
  }
}
