/**
 * Header search form.
 */
.site-search {

  label {
    display: inline-block;
  }

  input {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    vertical-align: middle;
    background-color: transparent;
    border-color: $brand-dark;
  }
}
