/**
 * Message compose form.
 */
.message-entry {
  position: relative;
  padding: $layout-gutter;
  background-color: rgba($green-dark, 0.7);

  input {
    padding-left: 1rem;
  }

  .button {
    font-size: $h6-size;
    text-transform: capitalize;
  }
}


.input {
  display: block;
  margin-bottom: $base-line-height;

  input {
    display: block;
    font-size: $h2-size;
    font-weight: 200;
    color: $white;
    background-color: transparent;
    border: 0;
  }
}




.message-entry--modal {
  padding: 0;
  background-color: transparent;

  textarea {
    width: 100%;
  }

  .button--primary {
    float: right;
  }
}
