/**
 * Modal popup.
 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.8);

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    z-index: 900;
    opacity: 1;
    visibility: visible;
  }
}


.modal-content {
  display: inline-block;
  max-width: 575px;
  padding: $layout-gutter;
  margin: auto;
  background-color: $ui-dark;
  border-radius: $base-radius;

  > :last-child { margin-bottom: 0; }
}




.modal-open {

  .site-header,
  .main {
    filter: blur(10px);
  }
}
