/**
 * Layout container elements.
 * 
 * Compose a custom grid system with these base blocks.
 */
.layout-container {
  max-width: $site-width;
  padding: 0 $layout-gutter;
  margin: 0 auto;
}


.layout {

}
