/**
 * Message compose form.
 */
.message-entry {
  position: relative;
  padding: $layout-gutter;
  background-color: rgba($green-dark, 0.7);
  border-radius: $base-radius;

  .input {
    display: block;
    margin-bottom: $base-line-height;

    input {
      display: block;
      padding-left: 1rem;
      font-size: $h2-size;
      font-weight: 300;
      color: $white;
      background-color: transparent;
      border: 0;
    }
  }

  .button {
    font-size: $h6-size;
    text-transform: capitalize;
  }
}




.message-entry--modal {
  padding: 0;
  background-color: transparent;

  textarea {
    width: 100%;
    margin-bottom: ($base-line-height / 2);
  }

  .button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .button--primary {
    float: right;
  }
}
