/**
 * Card content blocks.
 *
 * Mixed media content elements arranged in a grid.
 */
.card {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  border: 1px solid $ui-dark;
  border-radius: $base-radius;

  a {
    color: $brand-light;

    &:hover,
    &:focus,
    &:active {
      color: $color-link;

      &::after {
        border-top-color: $color-link;
      }
    }

    span {
      opacity: 0.75;
    }
  }
}




.card-body {
  @extend %cf;

  padding: 25px 50px 25px 25px;

  > img {
    float: left;
    margin-right: $layout-gutter;
  }
}


.card-text {
  overflow: hidden;
  color: $brand-dark;

  &,
  > :last-child {
    margin-bottom: 0;
  }
}


.card-title {
  margin-bottom: ($base-line-height / 4);
  color: $grey-dark;
  text-transform: none;
}




.card-media {
  margin: 0;
}




.card-actions {
  position: absolute;
  top: 14px;
  right: 0;

  .button {
    padding-right: ($layout-gutter / 2);
    padding-left: ($layout-gutter / 2);
    color: $brand-light;

    &:hover,
    &:focus,
    &:active {
      color: $color-link;
      background-color: transparent;
    }
  }
}




.card-footer {
  margin-bottom: -1px;
}


.footer-link {
  position: relative;
  display: inline-block;
  margin-bottom: $base-line-height;
  margin-left: 85px;

  &::after {
    display: inline-block;
    margin-left: ($layout-gutter / 2);
    vertical-align: middle;
    border: 4px solid transparent;
    border-collapse: separate;
    border-top-color: $brand-light;
    content: "";
    transition: all 0.15s $timing;
  }
}


.reply-form {
  padding: 25px;
  background-color: $ui-light;

  input {
    width: 100%;
  }
}




.card-replies {
  border-top: 1px solid $ui-dark;

  &[aria-hidden="true"] {
    height: 0;
  }

  &[aria-hidden="false"] {
    height: auto;
  }
}


.card-reply {
  position: relative;
  background-color: $ui-light;
  border-bottom: 1px solid $ui-dark;
}
