/**
 * Profile settings section.
 *
 * Display profile setings form options.
 */
.profile-settings {
  padding: 50px $layout-gutter;

  .layout-container {
    max-width: 575px;
  }

  .input,
  .control {
    display: block;
    margin-bottom: $layout-gutter;

    &:last-child {
      margin-bottom: 0;
    }
  }
}




.account-settings {
  @extend %cf;
}


.account-avatar {
  float: left;
  margin-right: 50px;

  > img {
    border-radius: $base-radius;
  }
}


.account-fields {
  padding-right: 75px;
  overflow: hidden;

  &,
  > :last-child {
    margin-bottom: 0;
  }

  input {
    width: 100%;
  }
}
