/**
 * Site header/nav bar.
 *
 * Contains logo and user controls. Fixed to top of window.
 */
.site-header {
  @extend %cf;

  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 60px;
  color: $grey-light;
  background-color: $grey-black;

  .logo,
  .header-controls {
    line-height: 60px;
  }

  + .main {
    margin-top: 60px;
  }
}




.header-controls {
  display: inline-block;
  float: right;
  font-size: 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}




.profile-nav {
  position: relative;
  margin-right: ($layout-gutter * 4);
  margin-left: $layout-gutter;
}


.profile-link {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    top: 28px;
    right: -18px;
    display: inline-block;
    border: 4px solid transparent;
    border-collapse: separate;
    border-top-color: #4b4f54;
    content: "";
  }
}


.dropdown {
  display: none;
}
