/**
 * Profile settings section.
 *
 * Display profile setings form options.
 */
.profile-settings {
  padding: 25px ($layout-gutter / 2);

  @include media-query(medium) {
    padding: 50px 0;
  }

  .layout-container {
    max-width: 575px;
  }

  .input,
  .control {
    display: block;
    margin-bottom: ($base-line-height / 2);

    @include media-query(medium) {
      margin-bottom: $layout-gutter;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .button {
    padding: 0 2rem;
    line-height: 2.75;
  }
}




.account-settings {
  @extend %cf;
}


.account-avatar {
  margin-bottom: $base-line-height;
  color: $brand-light;

  @include media-query(medium) {
    float: left;
    margin-right: 50px;
    margin-bottom: 0;
  }

  > img {
    display: block;
    margin-bottom: ($base-line-height / 2);
    border-radius: $base-radius;
  }

  .button {
    padding: 0 1rem;
    line-height: 1.6;

    @include media-query(medium) {
      width: 100%;
    }
  }
}


.account-fields {
  overflow: hidden;

  @include media-query(medium) {
    padding-right: 75px;
  }

  &,
  > :last-child {
    margin-bottom: 0;
  }

  input {
    width: 100%;
  }
}
