/**
 * Site header/nav bar.
 *
 * Contains logo and user controls. Fixed to top of window.
 */
.site-header {
  @extend %cf;

  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 60px;
  color: $grey-light;
  background-color: $grey-black;

  .logo,
  .header-controls {
    line-height: 60px;
  }

  + .main {
    margin-top: 60px;
  }
}




.header-controls {
  display: inline-block;
  float: right;
  font-size: 0;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  > .button {
    padding-right: $layout-gutter;
    padding-left: $layout-gutter;
    color: $green-dark;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}




.profile-nav {
  position: relative;
  margin-right: ($layout-gutter * 4);
  margin-left: $layout-gutter;
}


.profile-link {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    top: 28px;
    right: -18px;
    display: inline-block;
    border: 4px solid transparent;
    border-collapse: separate;
    border-top-color: #4b4f54;
    content: "";
  }
}


.dropdown {
  position: absolute;
  top: -9999px;
  right: -42px; // Line-up dropdown arrow with menu arrow.
  min-width: 100px;
  border-radius: $base-radius;
  transition: opacity 150ms $timing;

  &.is-open {
    top: 55px;
    opacity: 1;
  }

  li {
    border-bottom: 1px solid $ui-dark;

    &:first-child {

      a {
        border-top-right-radius: $base-radius;
        border-top-left-radius: $base-radius;

        &::after {
          position: absolute;
          top: -16px;
          right: $layout-gutter;
          display: inline-block;
          border: 8px solid transparent;
          border-collapse: separate;
          border-bottom-color: $ui-light;
          content: "";
          transition: all 150ms $timing;
        }

        &:hover,
        &:focus,
        &:active {

          &::after {
            border-bottom-color: $green;
          }
        }
      }
    }

    &:last-child {
      border-bottom: 0;

      a {
        border-bottom-right-radius: $base-radius;
        border-bottom-left-radius: $base-radius;
      }
    }
  }

  a {
    font-size: $milli-size;
    color: $brand-dark;
    background-color: $ui-light;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $green;

      &::after {
        border-bottom-color: $green;
      }
    }
  }
}
