/**
 * Posts section.
 *
 * Display all posts, either in a list or grid layout.
 */
.posts {
  padding: 50px $layout-gutter;
  text-align: center;
}




.posts--list-view {

  .card {
    max-width: 575px;
  }
}
